#header
    height: 140px
    background-color:  rgba(255, 255, 255, 0.7)
    position: relative
    #menu
        z-index: 30
        position: absolute
        top: 0
        right: -999px
        width: 300px
        background-color: $menu-bgc
        #close_btn
            width: 20px
            height: 20px
            position: absolute
            top: 10px
            right: 10px
            font-family: FontAwesome
            color: $white
            font-size: 20px
            display: block
            cursor: pointer
        #social_links
            padding: 0 55px
            li
                a
                    color: $white
                    transition: color 0.5s
                    &:hover
                        color: $menu-color-hover
                        transition: color 0.5s
        #main_menu
            padding: 0 55px
            li
                display: block
                cursor: pointer
                list-style: none
                padding: 15px 0
                transition: background-color 0.5s
                border-bottom: 1px solid $white
                &:last-of-type
                    border-bottom: none
                &:hover
                    background-color: $menu-bgc-hover
                    transition: background-color 0.5s
                a
                    color: $white
                    font-size: 20px
    #social_links
        font-family: FontAwesome
        padding-left: 0
        margin: 0
        li
            list-style: none
            display: inline-block
            padding: 0 10px
            &:first-of-type
                padding-left: 0
            &:last-of-type
                padding-right: 0
            a
                display: block
                font-size: 20px
                line-height: 140px
                color: $link-color
                text-decoration: none
    #logo
        width: 100%
        text-align: center
        h1
            margin: 0
            font-family: AgencyFB
            font-size: 26px
            line-height: 140px
            letter-spacing: 3px
            text-transform: uppercase
            color: $black
            white-space: nowrap
    #menu_bar
        float: right
        .menu_wrapper
            height: 20px
            width: 20px
            cursor: pointer
            span
                font-family: FontAwesome
                font-size: 20px
                line-height: 140px
                color: $menu-color