#works
    .img_block
        padding: 15px
        width: 100%
        .bwWrapper
            position: relative
            display: block
            .img_wrapper
                background-color: $white
                padding: 5px
                width: 270px
                height: 270px
                overflow: hidden
                cursor: pointer