#works
    .img_block
        padding: 15px
        .img_wrapper
            background-color: $white
            padding: 5px
            width: 100%
            width: 265px
            height: 265px
            overflow: hidden